
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-playbtn: #EDD4A0;
    --color-border :black;
    --color-white: #fff;
    --color-bgCount: #E98669;
    
    --size-icon: 40px;
    --border-radius: 10px;
}

body{
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-position: center;
   background-size: 100% 100%;
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{

    text-align: center;
   
}

button{
    cursor: pointer;
    transition: transform 0.1s ease-in;
}

button:hover{
    transform: scale(1.2);
}


.game__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}


.game__header, .game__body{
    width: 100%;
    height: 50% ;
}
.game__btn{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: var(--border-radius);
    font-size: var(--size-icon);
    background-color: var(--color-playbtn);
    border: 5px solid var(--color-border);

}
.timer{
    width: 170px;
    height: 60px;
    margin: 1rem 0;
    background-color: var(--color-white);
    border:5px solid var(--color-border);
    border-radius: var(--border-radius);

    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    user-select: auto;
    cursor: auto;
}
.timer__clock{
   font-size: 30px;
   font-weight: 600;
}

.count{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid var(--color-border);
    background-color: var(--color-bgCount);
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;
    color: var(--color-white);
    visibility: hidden;
    user-select: auto;
    cursor: auto;

}

.game__body{
    position: relative;
  }
  

.btn{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 50px;
    height: 50px;
}



.unvisible{
   visibility: hidden;
}

.hidden{
    display: none;
}

.replayPopup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: auto;
    z-index: 2;
    border-radius: 20px;
    color: var(--color-white);
    /* background-color: #00000050; */
    /* background-color:black;
    opacity: 0.7; */
    /* background-color: rgba(0, 0, 0, 0.5); 배경에만 투명도를 적용 */
    position: absolute;
    top: 400px;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5; /* 배경에만 투명도를 적용 */
    z-index: 1;
    border-radius: var(--border-radius);
}
.content{
    position: relative;
    color: white;
    z-index: 2; /* 배경 위에 표시되도록 z-index 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.replayBtn{
    width: 70px;
    height: 70px;
    font-size:var(--size-icon);
    border-radius: 50%;
    border: 3px solid var(--color-border);
    background-color: var(--color-playbtn);
    
}

.replayText{
    font-size: 35px;

}

.pointerNone{
    pointer-events: none;
}